@using BootstrapSupport
@model Web.Models.Text

@{
    ViewBag.Title = "Summarizer";
    Layout = "~/Views/Shared/_BootstrapLayout.narrow.cshtml";
}

@using (Html.BeginForm("", "api/summarizer", FormMethod.Post, new {@class = "well span8", id = "summarizerForm"}))
{
    <div id="errors"></div>
    @Html.ValidationSummary(true)

    <div class="row">
        <div class="span3">
            <div class="control-group">
                @Html.LabelFor(model => model.DisplayLines, new {@class = "control-label"})
                <div class="controls">
                    @Html.EditorFor(model => model.DisplayLines)
                    @Html.ValidationMessageFor(model => model.DisplayLines, null, new {@class = "help-inline"})
                </div>
            </div>
            <div class="control-group">
                @Html.LabelFor(model => model.LanguageId, new {@class = "control-label"})
                <div class="controls">
                    @Html.DropDownListFor(model => model.LanguageId, ((IEnumerable<Web.Models.Language>) ViewBag.PossibleLanguage).Select(option => new SelectListItem
                        {
                            Text = Html.DisplayTextFor(_ => option.FullName).ToString(),
                            Value = option.LanguageId.ToString(),
                            Selected = (Model != null) && (option.LanguageId == Model.LanguageId)
                        }), "Choose language", new Dictionary<string, object>
                            {
                                {"class", "input-xlarge span3"}
                            })
                    @Html.ValidationMessageFor(model => model.LanguageId, null, new {@class = "help-inline"})
                </div>
            </div>
            <div class="control-group">
                <div id="loading" style="display: none" class="ajax-loader">
                    <img src="~/Images/365.gif" />
                </div>
            </div>
        </div>
        <div class="span5">
            <div class="control-group">
                @Html.LabelFor(model => model.FullText, new {@class = "control-label"})
                <div class="controls">
                    @Html.TextAreaFor(model => model.FullText, new Dictionary<string, object>
                        {
                            {"class", "input-xlarge span5"},
                            {"rows", "15"}
                        })
                    @Html.ValidationMessageFor(model => model.FullText, null, new {@class = "help-inline"})
                </div>
            </div>
        </div>

        <button type="submit" class="btn btn-primary pull-right" data-loading-text="Sending...">Send</button>
    </div>
}

<div id="test" class="well-small span8">
</div>

<div class="span8" id="output" style="display: none">
    <h3>Sentences</h3>
    <ul id="sentences">
        <li data-template>{{.}}</li>
        <li data-template-fallback>Sorry, JavaScript required!</li>
    </ul>
    <h3>Keywords</h3>
    <ul id="keywords">
        <li data-template>{{.}}</li>
        <li data-template-fallback>Sorry, JavaScript required!</li>
    </ul>
    <h3>Json:</h3>
    <div id="elem"></div>
</div>

@section Head
{
    <link href="~/Content/pretty-json.css" rel="stylesheet" />
}

@section Scripts
{
    <script src="http://malsup.github.com/jquery.form.js"></script>
    <script src="http://tempojs.com/tempo.min.js"></script>
    <script src="~/Scripts/underscore-min.js"></script>
    <script src="~/Scripts/backbone-min.js"></script>
    <script src="~/Scripts/pretty-json-min.js"></script>
    <script src="~/Scripts/main.js"></script>
}