@model IEnumerable<WebApplication.Models.Text>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>

@foreach (var item in Model)
{
    <div>
        <h3>
            @Html.DisplayNameFor(model => model.FullText)
        </h3>
        <pre>
            @Html.DisplayFor(modelItem => item.FullText)
        </pre>
        <h3>
            @Html.DisplayNameFor(model => model.ShortText)
        </h3>
        <pre>
            @Html.DisplayFor(modelItem => item.ShortText)
        </pre>
        <h3>
            @Html.DisplayNameFor(model => model.Language.FullName)
        </h3>
        <div>
            @Html.DisplayFor(modelItem => item.Language.FullName)
        </div>
        <h3>
            @Html.DisplayNameFor(model => model.DisplayLines)
        </h3>
        <div>
            @Html.DisplayFor(modelItem => item.DisplayLines)
        </div>
        <div>
            @Html.ActionLink("Edit", "Edit", new {id = item.TextId}) |
            @Html.ActionLink("Details", "Details", new {id = item.TextId}) |
            @Html.ActionLink("Delete", "Delete", new {id = item.TextId})
        </div>
    </div>
}
